<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unos novog OP</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <br>
    <h3>Podaci o OP</h3>
    <hr>
    <p class="h4 mb-4">Nov OP</p>
    <form action="#" th:action="@{saveBolest}"
          th:object="${bolest}" method="post">

        <textarea type="text" th:field="*{usgList}" style="height: 110px"
                  class="form-control mb-4 col-10" placeholder="Ultrasonografski nalaz"/>
        <textarea type="text" th:field="*{spekulaOpList}" style="height: 110px"
                  class="form-control mb-4 col-10" placeholder="Nalaz u spekulama"/>
        <textarea type="text" th:field="*{ginekoloskiOpList}" style="height: 110px"
                  class="form-control mb-4 col-10" placeholder="Ginekološki palpatorni pregled"/>
        <textarea type="text" th:field="*{dijagnozaOpList}" style="height: 110px"
                  class="form-control mb-4 col-10" placeholder="Dijagnoza"/>
        <textarea type="text" th:field="*{terapijaOpList}" style="height: 110px"
                  class="form-control mb-4 col-10" placeholder="Terapija"/>



        <button type="submit" class="btn btn-info col-2">Sacuvaj</button>
    </form>
    <hr>
    <form>
        <input type="button" value="Nazad" onclick="history.back()" class="btn btn-dark btn-lg">
    </form>
</div>

</body>
</html>