
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Pacijenti</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/group-folder.png">

</head>
<body>
    <div class="container" style="margin-left: 5px;">
        <br>
        <h3><img src="https://img.icons8.com/nolan/64/folder-invoices.png" style="margin-right: 15px">
            Baza podataka pacijenata</h3>
        <hr>
        <form style="float: left" th:action="@{search}" method="get" class="form-inline">
            <a th:href="@{/pacijenti/showFormForAdd}"
               class="btn btn-primary mr-5 mb-4">
                Dodaj pacijenta
            </a>
            <img src="https://img.icons8.com/ios-filled/50/000000/search.png" class="mb-4">
            <input class="form-control mb-4 col-4" type="search" name="searchName"
                                      placeholder="Pretrazi po imenu" style="display: inline;
                                      margin-left: 15px">
            <button class="btn btn-success mb-4" type="submit">Pretrazi</button>
        </form>
        <form style="float: left; margin-left: 500px" th:action="@{/logout}" method="post">
            <input class="btn btn-warning" type="submit" value="Logout"/>
        </form>
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Ime i Prezime</th>
                <th>Datum rodjenja</th>
                <th>Adresa</th>
                <th>Mesto</th>
                <th>Telefon</th>
                <th>Krvna grupa</th>
                <th>RH</th>
                <th>Osetljivost na lekove</th>
                <th>Porodjaj</th>
                <th>Abortus</th>
                <th>Komande</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="table, iterstat : ${pacijenti}">

                <td th:text = "${table.imePrezime}"/>
                <td th:text = "${table.datumRodjenja}"/>
                <td th:text = "${table.adresa}"/>
                <td th:text = "${table.mesto}"/>
                <td th:text = "${table.telefon}"/>
                <td th:text = "${table.krvnaGrupa}"/>
                <td th:text = "${table.rh}"/>
                <td th:text = "${table.osetljivost}"/>
                <td th:text = "${table.porodjaj}"/>
                <td th:text = "${table.abortus}"/>
                <td>
                    <table class="table table-borderless mb-0">
                        <tbody>
                        <tr>
                            <td style="padding-right: 2px; padding-left: 2px">
                                <a th:href="@{/pacijenti/pacijent(tableId=${iterstat.index})}"
                                   class="btn btn-info btn-sm">Prikaz</a>
                            </td>
                            <td style="padding-right: 2px; padding-left: 2px">
                                <a th:href="@{/pacijenti/showFormForUpdate(tableId=${iterstat.index})}"
                                   class="btn btn-secondary btn-sm">Izmeni</a>
                            </td>
                            <td style="padding-right: 2px; padding-left: 2px">
                                <a th:href="@{/pacijenti/delete(tableId=${iterstat.index})}"
                                   class="btn btn-danger btn-sm"
                                   onclick="if (!(confirm('DA LI STE SIGURNI DA ZELITE DA IZBRISETE OVOG PACIJENTA?')))
                                                    return false">Brisanje</a>

                            </td>
                        </tr>
                        </tbody>
                    </table>
            </tr>
            </tbody>
        </table>
    </div>


</body>
</html>