<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Pregled</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/group-folder.png">
    <link rel="stylesheet" href="print.css"/>

    <style type="text/css" media="print">
        @page :first {
            size: auto;   /* auto is the initial value */
            margin: 0 0 15mm 2mm;  /* this affects the margin in the printer settings */
        }
        @page{
            size: auto;
            margin: 15mm 0 0 2mm;
        }

    </style>
    <style type="text/css">
        input[type="radio"]{
            margin: 0px 10px 0px 10px;}
    </style>
</head>
<body>

<p class="container" style="margin-left: 5px;">
<div class="canvas_container">
    <canvas height="0px" width="0px" id="canvas1"></canvas>

    <img src="/memorandum.jpg" style="
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        width: 95%;"/>
</div>
<br>
<h4><center>CILJANI AKUŠERSKI ULTRAZVUČNI PREGLED 2 I 3</center></h4>
<hr width="900px">
<div style="float: left; margin-right: 80px; width: 400px">
    <table class="table table-borderless" th:object="${bolest}" style="margin-left: 40px">

        <tbody>
        <tr>
            <th style="width: 140px">Ime i prezime:</th>
            <td th:text="*{pacijent.imePrezime}"/>
        </tr>
        <tr>
            <th>PM:</th>
            <td th:text="*{pacijent.pm}"/>
        </tr>
        </tbody>
    </table>
</div>

<div style="float: left; margin-right: 10px; width: 400px">
    <table class="table table-borderless" th:object="${bolest}" >

        <tbody>
        <tr>
            <th style="width: 130px">Vtp:</th>
            <td th:text="*{vtpEuz2List}"/>
        </tr>
        <tr>
            <th>TM trudnice:</th>
            <td th:text="*{tmTrudniceEuz2List}"/>
        </tr>
        <tr>
            <th>TA trudnice:</th>
            <td th:text="*{taEuz2List}"/>
        </tr>
        </tbody>
    </table>
</div>
<!-- 2. tabela-->
<div style="float: left; width: 900px; margin-top: 30px">
    <table class="table table-borderless" th:object="${bolest}" style="margin-left: 40px;
                                    margin-bottom: 30px">

        <tbody>
        <tr>
            <th style="width: 50px">BPD:</th>
            <td th:text="*{bpdEuz2List}" style="width: 140px"/>
            <th style="width: 50px">IOD:</th>
            <td th:text="*{iodEuz2List}" style="width: 140px"/>
            <th style="width: 80px">AC:</th>
            <td th:text="*{acEuz2List}" style="width: 140px"/>
            <th style="width: 140px">Ins. Pos.:</th>
            <td th:text="*{insPosEuz2List}" style="width: 140px"/>
        </tr>
        <tr>
            <th>Hem:</th>
            <td th:text="*{hemEuz2List}" align="left"/>
            <th>TCD:</th>
            <td th:text="*{tcdEuz2List}"/>
            <th>TM:</th>
            <td th:text="*{tmEuz2List}"/>
            <th>Plod. teč.:</th>
            <td th:text="*{plodTecEuz2List}"/>
        </tr>
        <tr>
            <th>OFD:</th>
            <td th:text="*{ofdEuz2List}"/>
            <th>CM:</th>
            <td th:text="*{cmEuz2List}"/>
            <th>TIB:</th>
            <td th:text="*{tibEuz2List}"/>
            <th>Dinamika pokreta ploda:</th>
            <td th:text="*{dinPokEuz2List}"/>
        </tr>
        <tr>
            <th>HC:</th>
            <td th:text="*{hcEuz2List}"/>
            <th>NN:</th>
            <td th:text="*{nnEuz2List}"/>
            <th>FIB:</th>
            <td th:text="*{fibEuz2List}"/>
            <th>Širina aorte:</th>
            <td th:text="*{sirinaAorteEuz2List}"/>
        </tr>
        <tr>
            <th>Va:</th>
            <td th:text="*{vaEuz2List}"/>
            <th>HL:</th>
            <td th:text="*{hlEuz2List}"/>
            <th>FHR+:</th>
            <td th:text="*{fhrEuz2List}"/>
            <th>Pupčanik:</th>
            <td th:text="*{pupcanikEuz2List}"/>
        </tr>
        <tr>
            <th>Vp:</th>
            <td th:text="*{vpEuz2List}"/>
            <th>FL:</th>
            <td th:text="*{flEuz2List}"/>
            <th>Cerviks:</th>
            <td th:text="*{cerviksEuz2List}"/>
        </tr>
        </tbody>
    </table>
</div>
<!-- 3. tabela-->
<div style="width: 900px">
    <table class="table table-borderless" th:object="${bolest}" style="margin-left: 40px">
        <tbody>
        <tr class="border-top">
            <th width="130px">Sagledani su:</th>
            <td th:text="*{sagledanoEuz2List}"/>
        </tr>

        <tr>
            <th style="padding-top: 30px">Dijagnoza:</th>
            <td th:text="*{dijagnozaEuz2List}" style="padding-top: 30px"/>
        </tr>

        <tr>
            <th style="padding-top: 30px">Terapija:</th>
            <td th:text="*{terapijaEuz2List}" style="padding-top: 30px"/>
        </tr>
        </tbody>
    </table>
</div>

<div style="width: 900px">
    <table class="table table-borderless" th:object="${bolest}" style="margin-left: 40px">
        <tbody>
        <tr>
            <th width="130px" style="padding-top: 30px">Preporuka:</th>
            <td width="245px" style="padding-top: 30px">uraditi fetalnu ehokardiografiju</td>
            <td style="padding-top: 30px" width="140px">
                <label class="radio-inline"><input type="radio" name="optradio">DA </label>
                <label class="radio-inline"><input type="radio" name="optradio">NE</label>
            </td>
            <td width="205px" style="padding-top: 30px">/fetalnu neurosonografiju</td>
            <td style="padding-top: 30px" align="left">
                <label class="radio-inline"><input type="radio" name="optradio1">DA </label>
                <label class="radio-inline"><input type="radio" name="optradio1">NE</label>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<br>
<div style="width: 900px">
    <table class="table table-bordered" style="margin-left: 50px; border: 1px double black">
        <tbody>
        <tr>
            <td align="justify"><i>
                NAPOMENA:  Ultrazvučni pregled ima
                svoja ograničenja, kako od strane aparata, tako i od strane operatera, habitusa majke i
                položaja ploda. Normalan nalaz ultrazvučnog pregleda ne predstavlja garanciju normalnog
                kariotipa ili izostanka morfoloških poremećaja koji se u datoj gestaciji ne mogu videti kao
                ni budućeg razvitka poremećaja u kasnijoj trudnoći. Pacijentkinja obaveštena u skladu sa
                članom 11. i 16. Zakona o pravima pacijenta.</i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<table class="table table-borderless" th:object="${bolest}" style="margin-left: 40px">
    <tbody>
    <tr>
        <td width="85px" style="padding-right: 0px">Novi Sad,</td>
        <td th:text="*{datumPregledaBolest}" style="float: left; padding-left: 0px"></td>
        <td style="float: right;  margin-right: 100px">Prim. Milošević Stevan, dr.sci.med.</td>
    </tr>
    </tbody>
</table>
<br>
<form>
    <center><input type="button" value="Print" onclick="this.style.display='none';
                    window.print()" class="btn btn-dark btn-lg"></center>
</form>
</div>
</div>
</body>
</html>