<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Pregled</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/group-folder.png">
    <link rel="stylesheet" href="print.css"/>

    <style type="text/css" media="print">
        @page {
            size: auto;   /* auto is the initial value */
            margin: 0;  /* this affects the margin in the printer settings */
        }
    </style>
</head>
<body>

<div class="container" style="margin-left: 5px;">
    <div class="canvas_container">
        <canvas height="0px" width="0px" id="canvas1"></canvas>

        <img src="/memorandum.jpg" style="
        position: relative;
        left: 0;
        top: 0;
        z-index: 2;
        width: 95%;"/>
    </div>
    <br>
    <h4><center>NALAZ LEKARA SPECIJALISTE</center></h4>
    <hr>
    <div style="float: left; margin-right: 80px; width: 400px">
        <table class="table table-borderless" th:object="${bolest}" style="margin-left: 30px">

            <tbody>
            <tr>
                <th>Ime i prezime:</th>
                <td th:text="*{pacijent.imePrezime}"/>
            </tr>
            <tr>
                <th>Datum rodjenja:</th>
                <td th:text="*{pacijent.datumRodjenja}"/>
            </tr>
            <tr>
                <th>Adresa:</th>
                <td th:text="*{pacijent.adresa}"/>
            </tr>
            <tr>
                <th>Mesto:</th>
                <td th:text="*{pacijent.mesto}"/>
            </tr>
            <tr>
                <th>Krvna grupa:</th>
                <td th:text="*{pacijent.krvnaGrupa}"/>
            </tr>
            <tr>
                <th>RH faktor:</th>
                <td th:text="*{pacijent.rh}"/>
            </tr>
            <tr>
                <th>Osetljivost na lekove:</th>
                <td th:text="*{pacijent.osetljivost}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="float: left; margin-right: 10px; width: 400px">
        <table class="table table-borderless" th:object="${bolest}">

            <tbody>
            <tr>
                <th>PM:</th>
                <td th:text="*{pacijent.pm}"/>
            </tr>
            <tr>
                <th>Telefon:</th>
                <td th:text="*{pacijent.telefon}"/>
            </tr>
            <tr>
                <th>Zanimanje:</th>
                <td th:text="*{pacijent.zanimanje}"/>
            </tr>
            <tr>
                <th>Porodjaja:</th>
                <td th:text="*{pacijent.porodjaj}"/>
            </tr>
            <tr>
                <th>Abortusa:</th>
                <td th:text="*{pacijent.abortus}"/>
            </tr>
            <tr>
                <th>Licna anamneza:</th>
                <td th:text="*{pacijent.lAnamneza}"/>
            </tr>
            <tr>
                <th>Porodicna anamneza:</th>
                <td th:text="*{pacijent.pAnamneza}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <div style="width: 900px">

        <table class="table table-borderless" th:object="${bolest}" style="margin-left: 30px">
            <tbody>
            <tr class="border-top">
                <th width="200px" style="padding-top: 30px">Ultrasonografski nalaz:</th>
                <td th:text="*{usgList}" style="padding-top: 30px"/>

            </tr>

            <tr>
                <th style="padding-top: 30px">Nalaz u spekulama:</th>
                <td th:text="*{spekulaOpList}" style="padding-top: 30px"/>
            </tr>

            <tr>
                <th style="padding-top: 30px">Ginekološki palpatorni pregled:</th>
                <td th:text="*{ginekoloskiOpList}" style="padding-top: 30px"/>
            </tr>

            <tr>
                <th style="padding-top: 30px">Dijagnoza:</th>
                <td th:text="*{dijagnozaOpList}" style="padding-top: 30px"/>
            </tr>

            <tr>
                <th style="padding-top: 30px">Terapija:</th>
                <td th:text="*{terapijaOpList}" style="padding-top: 30px"/>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <p style="margin-left: 40px">Pacijentkinja obaveštena u skladu sa čl. 11. i 16. zakona o pravima pacijenta.</p>

    <table class="table table-borderless" th:object="${bolest}" style="margin-left: 30px">
        <tbody>
        <tr>
            <td width="85px" style="padding-right: 0px">Novi Sad,</td>
            <td th:text="*{datumPregledaBolest}" style="float: left; padding-left: 0px"></td>
            <td style="float: right;  margin-right: 100px">Prim. Milošević Stevan, dr.sci.med.</td>
        </tr>
        </tbody>
    </table>
<br>
    <form>
        <center><input type="button" value="Print" onclick="this.style.display='none';
                    window.print()" class="btn btn-dark btn-lg"></center>
    </form>
</div>
</body>
</html>