<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Pregled</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="icon" href="https://img.icons8.com/cotton/64/000000/group-folder.png">
</head>
<body>
<div class="container" style="margin-left: 5px;">
    <br>
    <h3>NALAZ LEKARA SPECIJALISTE</h3>
    <hr>
    <div style="float: left; margin-right: 100px; width: 600px">
        <table class="table table-borderless" th:object="${bolest}">

            <tbody>
            <tr class="border-bottom">
                <th>Vrsta pregleda</th>
                <td th:text="*{vrstaPregledaBolest}"/>
            </tr>
</body>
</html>